.inputvalue {
  margin-left: 2%;
  margin-top: 5%;
  margin-right: 20%;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

input {
  height: 24px;
  width: 20%;
}

.button {
  height: 30px;
  color: white;
  font-weight: 600;
  background-color: rgb(27, 64, 185);
  width: 5%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
}
table {
  margin-left: 3%;
  margin-top: 3%;
  width: 66vw;
  border-collapse: collapse;
}

tr {
  background-color: azure;
  color: rgb(151, 158, 136);
  border: 1px solid black;
}

th,
td {
  font-weight: 600;
  align-items: center;
  padding: 15px;
  }
  
  th {
    color: white;
    background-color: rgb(65, 56, 56);
}

td {
  text-align: center;
  color: black;
  height: 350px;
}

.table {
  margin-left: 15%;
  height: 60%;
}
.button1 {
  background-color: rgb(65, 73, 73);
  border-radius: 10px;
}
